/* common shared styles */
body {
  font-family: "Source Code Pro", monospace;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-title {
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #181818;
}
/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30p 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 350px;
  margin-left: 80px;
}
.banner .profile-pic {
  width: 500px;
}
.banner-gretting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 50px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* main sections styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}

/* about sections styles */
.about {
  padding: 130px;
  margin: 100px;
  border-radius: 10px;
  background: #f1e1d6;
  margin-top: 50px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}

about-info {
  text-align: center;
}
/* skills related styles */
#what-i-do-description {
  padding: 30px 150px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
  color: #757575;
}

/* resume section styles */
.resume-collumn-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700px;
}

.resume-container {
  display: flex;
  gap: 50px;
}
.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-item-institude {
  margin-bottom: 20px;
  margin-top: 0px;
}
.resume-item-institude,
.resume-item-description {
  color: #757575;
}

.resume-container-hr {
  margin: 30px;
}

.download-cv {
  text-align: center;
  margin: 50px;
}

/* footer styles */
.footer-column {
  display: flex;
  justify-content: space-between;
  background: #fff8f3;
  margin-top: 100px;
  padding: 130px 100px;
}

.footer-section {
  width: 500px;
}
.social-links a {
  margin-right: 50px;
}

.contact input[type="text"],
textarea {
  display: block;
  margin-bottom: 25px;
  margin-top: 20px;
}
.input-tag {
  background: #fd6e0a;
}
