/* common shared styles */
body {
  font-family: "Source Code Pro", monospace;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-title {
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #181818;
}
/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30p 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
}
.banner .profile-pic {
  width: 500px;
}
.banner-gretting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 50px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* main sections styles */
/* about sections styles */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px o;
}
